{{!-- Extends partials base --}}
{{#>base}}

    {{!-- Set title --}}
    {{#*inline 'title'}}
        {{ trans key="Récupération du mot de passe" }}
    {{/inline }}

    {{!-- Set body --}}
    {{#*inline 'body'}}
        <p>
            {{ trans key="Code d'activation pour changer votre mot de passe" }}
        </p>

        <p
            style="
                display: inline-block;
                font-weight: bold;
                font-size: 25px;
                margin: 0;
                border-radius: 3px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-right: 20px;
                border-top: solid 1px #ebebed;
                border-bottom: solid 1px #ebebed;
                border-left: solid 1px #ebebed;
                border-right: solid 1px #ebebed;"
        >{{ token }}</p>
    {{/inline }}

{{/base}}
